body {

  background-image: linear-gradient(-90deg, red, yellow);}

.topdiv {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 20% round;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.subtitle {

  font-size: 1.4em;
}

.cleardiv {
  /*A simple div*/
  font-family: Verdana, Geneva, sans-serif;
}

.boxdiv {
  background-color: AliceBlue;
  border: solid;
  border-width: 1px;
  border-color: CornflowerBlue;
  margin: 0px 2px 15px 2px;
  padding: 0px 17px 5px 17px;
  border-radius: 25px;
  font-family: Verdana, Geneva, sans-serif;
}

.tablediv {
  background-color: RoyalBlue;
  width: 100%;
  margin: 0px 0px 0px -9px;
  padding: 2px 9px 0px 0px;
  color: GhostWhite;
  font-family: Verdana, Geneva, sans-serif;
}

.tablediv h3 {
  text-align: center;
}

.tablediv p {
  margin-top: 0px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

img {
  width: 30em;
  border: solid;
  border-width: 1px;
  border-color: GhostWhite;
}

li {
  font-size: 1em;
}

table {
  margin: auto;
}